# Ignore environment files
.venv1

# Ignore Python compiled files at any level
**/__pycache__/
# Ignore all .pyc files at any level
**/*.pyc

# Ignore Output directories
Output/

# Ignore runs folders
runs/

