# Ignore environment files
.venv1

# Ignore Python compiled files at any level
**/__pycache__/
# Ignore all .pyc files at any level
**/*.pyc

# Ignore Output directories
Output/

# Ignore runs folders
runs/

# Ignore mp4 files
**/*.mp4

# Ignore wav files
**/*.wav

# Ignore GoogleService 
GoogleServices/

# Ignore language model folder
language_models/
